In [39]:
## Import libraries
import numpy as np
import pandas as pd
import os

In [40]:
## Set working directory
os.chdir('E:/CR2/Repos/TNC-Demand-Model-Southeast/')

In [41]:
### Calculating Utility
## Get dataframe of predicted trips
utility = pd.read_csv('Cleaned_Inputs/Intermediate/pred_trips.csv')
utility

,origin,destination,travel_time_min,distance_miles,PRIVATE_TRAVEL_TIME,SHARED_TRAVEL_TIME,PRIVATE_TRIP_FARES,SHARED_TRIP_FARES
0,21067003802,21067004007,40.016667,20.158829,40.016667,44.016667,31.260439,20.105323
1,21067004007,21067003802,36.616667,24.871705,36.616667,40.616667,34.434858,23.364816
2,21067004007,21067003701,40.533333,22.877503,40.533333,44.533333,33.808273,22.134277
3,21067003701,21067004007,38.750000,22.608280,38.750000,42.750000,33.055025,21.829425
4,21067004207,21067003918,32.583333,19.840966,32.583333,36.583333,28.830300,19.425726
...,...,...,...,...,...,...,...,...
6719,21067001100,21067001100,0.000000,0.000000,0.000000,4.000000,1.903500,2.889600
6720,21067001300,21067001300,0.000000,0.000000,0.000000,4.000000,1.903500,2.889600
6721,21067003406,21067003406,0.000000,0.000000,0.000000,4.000000,1.903500,2.889600
6722,21067004003,21067004003,0.000000,0.000000,0.000000,4.000000,1.903500,2.889600
6723,21067000900,21067000900,0.000000,0.000000,0.000000,4.000000,1.903500,2.889600

In [42]:
## Create indicator to see if an airport is in the origin or destination
airport_census_tract = 21067004207
utility['origin_airport'] = utility['origin'] == airport_census_tract
utility['destination_airport'] = utility['destination'] == airport_census_tract
utility[(utility['origin_airport']) | (utility['destination_airport'])].head()

,origin,destination,travel_time_min,distance_miles,PRIVATE_TRAVEL_TIME,SHARED_TRAVEL_TIME,PRIVATE_TRIP_FARES,SHARED_TRIP_FARES,origin_airport,destination_airport
4,21067004207,21067003918,32.583333,19.840966,32.583333,36.583333,28.830300,19.425726,True,False
5,21067003918,21067004207,34.933333,18.640822,34.933333,38.933333,28.451153,18.684740,False,True
20,21067004207,21067004007,36.800000,21.635254,36.800000,40.800000,31.632681,20.997348,True,False
21,21067004007,21067004207,39.600000,22.305746,39.600000,43.600000,33.033950,21.658093,False,True
34,21067003802,21067004207,28.566667,16.904638,28.566667,32.566667,25.078252,17.026818,False,True

In [43]:
## Calculate utility for Private Trips
## Recall: utility for private trips is a function of travel time and cost.
utility.loc[:, 'PRIVATE_UTILITY'] = (-0.110 * utility['PRIVATE_TRAVEL_TIME']) + (-0.138 * utility['PRIVATE_TRIP_FARES'])
utility.head(7)

,origin,destination,travel_time_min,distance_miles,PRIVATE_TRAVEL_TIME,SHARED_TRAVEL_TIME,PRIVATE_TRIP_FARES,SHARED_TRIP_FARES,origin_airport,destination_airport,PRIVATE_UTILITY
0,21067003802,21067004007,40.016667,20.158829,40.016667,44.016667,31.260439,20.105323,False,False,-8.715774
1,21067004007,21067003802,36.616667,24.871705,36.616667,40.616667,34.434858,23.364816,False,False,-8.779844
2,21067004007,21067003701,40.533333,22.877503,40.533333,44.533333,33.808273,22.134277,False,False,-9.124208
3,21067003701,21067004007,38.750000,22.608280,38.750000,42.750000,33.055025,21.829425,False,False,-8.824093
4,21067004207,21067003918,32.583333,19.840966,32.583333,36.583333,28.830300,19.425726,True,False,-7.562748
5,21067003918,21067004207,34.933333,18.640822,34.933333,38.933333,28.451153,18.684740,False,True,-7.768926
6,21067003703,21067004007,34.466667,24.226410,34.466667,38.466667,33.243799,22.761588,False,False,-8.378978

In [44]:
#### Calculate utility for shared trips
## Recall: utility for shared trips is a function of travel time, travel cost, median income in the origin, 
## median income in the destination, and if it's going to or from the airport.

#### Read in income file
median_inc = pd.read_csv('Raw_Inputs/ACS/S1903/S1903 Data.csv')
median_inc[['TRACT', 'COUNTY', 'STATE']] = median_inc.NAME.str.split(',', expand=True)
median_inc.head()

,GEO_ID,NAME,S1903_C01_001E,S1903_C01_001M,S1903_C01_002E,S1903_C01_002M,S1903_C01_003E,S1903_C01_003M,S1903_C01_004E,S1903_C01_004M,...,S1903_C03_038E,S1903_C03_038M,S1903_C03_039E,S1903_C03_039M,S1903_C03_040E,S1903_C03_040M,Unnamed: 242,TRACT,COUNTY,STATE
0,Geography,Geographic Area Name,Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND...,Margin of Error!!Number!!HOUSEHOLD INCOME BY R...,Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND...,Margin of Error!!Number!!HOUSEHOLD INCOME BY R...,Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND...,Margin of Error!!Number!!HOUSEHOLD INCOME BY R...,Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND...,Margin of Error!!Number!!HOUSEHOLD INCOME BY R...,...,Estimate!!Median income (dollars)!!NONFAMILY H...,Margin of Error!!Median income (dollars)!!NONF...,Estimate!!Median income (dollars)!!NONFAMILY H...,Margin of Error!!Median income (dollars)!!NONF...,Estimate!!Median income (dollars)!!NONFAMILY H...,Margin of Error!!Median income (dollars)!!NONF...,NaN,Geographic Area Name,None,None
1,1400000US21067000101,"Census Tract 1.01, Fayette County, Kentucky",1993,120,1475,123,433,93,0,11,...,19639,10162,17043,2992,35739,4356,NaN,Census Tract 1.01,Fayette County,Kentucky
2,1400000US21067000102,"Census Tract 1.02, Fayette County, Kentucky",984,108,646,97,268,69,0,11,...,33021,7825,26719,13232,72411,29957,NaN,Census Tract 1.02,Fayette County,Kentucky
3,1400000US21067000200,"Census Tract 2, Fayette County, Kentucky",1225,128,648,139,503,129,0,11,...,27273,15009,23864,8889,41198,3724,NaN,Census Tract 2,Fayette County,Kentucky
4,1400000US21067000300,"Census Tract 3, Fayette County, Kentucky",1249,99,573,104,585,98,0,11,...,38920,20635,-,**,50972,21208,NaN,Census Tract 3,Fayette County,Kentucky

In [45]:
# Filter for Fayette County
median_inc = median_inc[median_inc['COUNTY'] == ' Fayette County']
# Get census tract from GEO ID
median_inc['CENSUS_TRACT'] = median_inc.apply(lambda row: row['GEO_ID'][9:], axis = 1)
# Rename column and filter
median_inc = median_inc.rename(columns={'S1903_C03_001E': 'MEDIAN_INC'})
median_inc = median_inc[['CENSUS_TRACT', 'MEDIAN_INC']]
median_inc.head()

  CENSUS_TRACT MEDIAN_INC
1  21067000101      25363
2  21067000102      26477
3  21067000200      26725
4  21067000300      32089
5  21067000400      27031

In [46]:
### Merge utility dataframe with income dataframe on census tract (by origin)
utility = utility.merge(median_inc.astype(float), how='left', left_on='origin', right_on='CENSUS_TRACT')
## Rename to column that indicates median income of the origin
utility.rename(columns={'MEDIAN_INC': 'ORIGIN_MEDIAN_INC'}, inplace=True)
utility.drop(columns='CENSUS_TRACT', inplace=True)
utility.head()

,origin,destination,travel_time_min,distance_miles,PRIVATE_TRAVEL_TIME,SHARED_TRAVEL_TIME,PRIVATE_TRIP_FARES,SHARED_TRIP_FARES,origin_airport,destination_airport,PRIVATE_UTILITY,ORIGIN_MEDIAN_INC
0,21067003802,21067004007,40.016667,20.158829,40.016667,44.016667,31.260439,20.105323,False,False,-8.715774,67212.0
1,21067004007,21067003802,36.616667,24.871705,36.616667,40.616667,34.434858,23.364816,False,False,-8.779844,81250.0
2,21067004007,21067003701,40.533333,22.877503,40.533333,44.533333,33.808273,22.134277,False,False,-9.124208,81250.0
3,21067003701,21067004007,38.750000,22.608280,38.750000,42.750000,33.055025,21.829425,False,False,-8.824093,93750.0
4,21067004207,21067003918,32.583333,19.840966,32.583333,36.583333,28.830300,19.425726,True,False,-7.562748,127798.0

In [47]:
### Merge utility dataframe with income dataframe on census tract (by destination)
utility = utility.merge(median_inc.astype(float), how='left', left_on='destination', right_on='CENSUS_TRACT')
## Rename to column that indicates median income of the origin
utility.rename(columns={'MEDIAN_INC': 'DESTINATION_MEDIAN_INC'}, inplace=True)
utility.drop(columns='CENSUS_TRACT', inplace=True)
utility.head()

,origin,destination,travel_time_min,distance_miles,PRIVATE_TRAVEL_TIME,SHARED_TRAVEL_TIME,PRIVATE_TRIP_FARES,SHARED_TRIP_FARES,origin_airport,destination_airport,PRIVATE_UTILITY,ORIGIN_MEDIAN_INC,DESTINATION_MEDIAN_INC
0,21067003802,21067004007,40.016667,20.158829,40.016667,44.016667,31.260439,20.105323,False,False,-8.715774,67212.0,81250.0
1,21067004007,21067003802,36.616667,24.871705,36.616667,40.616667,34.434858,23.364816,False,False,-8.779844,81250.0,67212.0
2,21067004007,21067003701,40.533333,22.877503,40.533333,44.533333,33.808273,22.134277,False,False,-9.124208,81250.0,93750.0
3,21067003701,21067004007,38.750000,22.608280,38.750000,42.750000,33.055025,21.829425,False,False,-8.824093,93750.0,81250.0
4,21067004207,21067003918,32.583333,19.840966,32.583333,36.583333,28.830300,19.425726,True,False,-7.562748,127798.0,87656.0

In [48]:
### Calculate Utility for Shared Trips
utility.loc[:, 'SHARED_UTILITY'] = (-0.573) + (-.110 * utility['SHARED_TRAVEL_TIME']) + (-0.138 * utility['SHARED_TRIP_FARES'])
utility.head()

,origin,destination,travel_time_min,distance_miles,PRIVATE_TRAVEL_TIME,SHARED_TRAVEL_TIME,PRIVATE_TRIP_FARES,SHARED_TRIP_FARES,origin_airport,destination_airport,PRIVATE_UTILITY,ORIGIN_MEDIAN_INC,DESTINATION_MEDIAN_INC,SHARED_UTILITY
0,21067003802,21067004007,40.016667,20.158829,40.016667,44.016667,31.260439,20.105323,False,False,-8.715774,67212.0,81250.0,-8.189368
1,21067004007,21067003802,36.616667,24.871705,36.616667,40.616667,34.434858,23.364816,False,False,-8.779844,81250.0,67212.0,-8.265178
2,21067004007,21067003701,40.533333,22.877503,40.533333,44.533333,33.808273,22.134277,False,False,-9.124208,81250.0,93750.0,-8.526197
3,21067003701,21067004007,38.750000,22.608280,38.750000,42.750000,33.055025,21.829425,False,False,-8.824093,93750.0,81250.0,-8.287961
4,21067004207,21067003918,32.583333,19.840966,32.583333,36.583333,28.830300,19.425726,True,False,-7.562748,127798.0,87656.0,-7.277917

In [50]:
### Calculate Probability of Taking a Private/Shared Ride between an OD Pair
## P(Private) = e^(U(Private)) / sum(e^(U(Private))+e^(U(Shared))
utility.loc[:, 'PRIV_PROB'] = (np.exp(utility['PRIVATE_UTILITY'])) / ((np.exp(utility['PRIVATE_UTILITY'])) + (np.exp(utility['SHARED_UTILITY'])))
utility.loc[:, 'SHARED_PROB'] = 1 - utility['PRIV_PROB']
utility.head()

,origin,destination,travel_time_min,distance_miles,PRIVATE_TRAVEL_TIME,SHARED_TRAVEL_TIME,PRIVATE_TRIP_FARES,SHARED_TRIP_FARES,origin_airport,destination_airport,PRIVATE_UTILITY,ORIGIN_MEDIAN_INC,DESTINATION_MEDIAN_INC,SHARED_UTILITY,PRIV_PROB,SHARED_PROB
0,21067003802,21067004007,40.016667,20.158829,40.016667,44.016667,31.260439,20.105323,False,False,-8.715774,67212.0,81250.0,-8.189368,0.371356,0.628644
1,21067004007,21067003802,36.616667,24.871705,36.616667,40.616667,34.434858,23.364816,False,False,-8.779844,81250.0,67212.0,-8.265178,0.374100,0.625900
2,21067004007,21067003701,40.533333,22.877503,40.533333,44.533333,33.808273,22.134277,False,False,-9.124208,81250.0,93750.0,-8.526197,0.354799,0.645201
3,21067003701,21067004007,38.750000,22.608280,38.750000,42.750000,33.055025,21.829425,False,False,-8.824093,93750.0,81250.0,-8.287961,0.369088,0.630912
4,21067004207,21067003918,32.583333,19.840966,32.583333,36.583333,28.830300,19.425726,True,False,-7.562748,127798.0,87656.0,-7.277917,0.429270,0.570730