In [1]:
import pandas as pd
import numpy as py

In [4]:
wac = pd.read_csv('../Cleaned_Inputs/Intermediate/wac.csv')

In [6]:
acs = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Cleaned_Inputs/Intermediate/acs.csv')

In [8]:
wac.tail()

,Unnamed: 0,trct,w_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,...,stanrcname,necta,nectaname,mil,milname,stwib,stwibname,blklatdd,blklondd,createdate_y
105,105,21021930500,9039430115077260,4727,914,2549,1264,690,1743,2294,...,0.0,4299957,0.0,0.0,0,2121000I2121000I2121000I2121000I2121000I212100...,I Bluegrass WIBI Bluegrass WIBI Bluegrass WIBI...,1618.745125,-3646.655196,869933688
106,106,21021930600,6727017792065073,205,53,97,55,78,79,48,...,0.0,3199968,0.0,0.0,0,2121000I2121000I2121000I2121000I2121000I212100...,I Bluegrass WIBI Bluegrass WIBI Bluegrass WIBI...,1204.068717,-2718.180652,647392512
107,107,21021930700,5255482675056338,148,40,80,28,33,71,44,...,0.0,2499975,0.0,0.0,0,2121000I2121000I2121000I2121000I2121000I212100...,I Bluegrass WIBI Bluegrass WIBI Bluegrass WIBI...,939.520285,-2120.318918,505775400
108,108,21023950100,5886706028043210,490,85,273,132,104,158,228,...,0.0,2799972,0.0,0.0,0,2121000F2121000F2121000F2121000F2121000F212100...,F Tenco WIBF Tenco WIBF Tenco WIBF Tenco WIBF ...,1085.248789,-2352.343427,566468448
109,109,21023950200,4204790040029745,91,18,46,27,21,21,49,...,0.0,1999980,0.0,0.0,0,2121000F2121000F2121000F2121000F2121000F212100...,F Tenco WIBF Tenco WIBF Tenco WIBF Tenco WIBF ...,774.983368,-1683.624386,404620320

In [9]:
acs.head()

,Unnamed: 0,MEDIAN_AGE,CENSUS_TRACT,TOTAL_HHLDS,AVG_HHLD_SIZE,AVG_FAMILY_SIZE,TOTAL_POP_18_24,TOTAL_POP_18_24_NO_HIGH_SCHOOL,TOTAL_POP_18_24_HIGH_SCHOOL,TOTAL_POP_18_24_SOME_COLLEGE,...,HHLDS_MEDIAN_INCOME,HHLDS_MEAN_INCOME,LOW_INC,HIGH_INC,TOTAL_HHLDS_DP04,HHLDS_0_VEH,HHLDS_1_VEH,HHLDS_2_VEH,HHLDS_3P_VEH,AVG_VEH_PER_HHLD
0,0,31.0,21067000101,1993,1.52,2.40,820,14,86,510,...,25363,25363,85.5,14.5,1993.0,646.0,950.0,358.0,39.0,0.894631
1,1,52.4,21067000102,984,1.44,2.70,20,0,0,11,...,26477,26477,84.1,15.8,984.0,323.0,478.0,129.0,54.0,0.912602
2,2,24.1,21067000200,1225,2.37,3.33,1416,13,425,846,...,26725,26725,91.7,8.4,1225.0,355.0,449.0,290.0,131.0,1.160816
3,3,36.8,21067000300,1249,2.17,2.89,230,45,85,100,...,32089,32089,91.7,8.2,1249.0,227.0,595.0,307.0,120.0,1.256205
4,4,32.8,21067000400,784,2.48,3.12,146,13,63,54,...,27031,27031,95.6,4.4,784.0,215.0,321.0,186.0,62.0,1.121173