In [13]:
import pandas as pd

In [14]:
acs_dp04 = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Raw_Inputs/ACS/DP04/DP04.csv')

In [16]:
acs_dp04.head()

,GEO_ID,NAME,DP04_0001E,DP04_0001M,DP04_0002E,DP04_0002M,DP04_0003E,DP04_0003M,DP04_0004E,DP04_0004M,...,DP04_0139PM,DP04_0140PE,DP04_0140PM,DP04_0141PE,DP04_0141PM,DP04_0142PE,DP04_0142PM,DP04_0143PE,DP04_0143PM,Unnamed: 574
0,Geography,Geographic Area Name,Estimate!!HOUSING OCCUPANCY!!Total housing units,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,Estimate!!HOUSING OCCUPANCY!!Total housing uni...,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,Estimate!!HOUSING OCCUPANCY!!Total housing uni...,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,Estimate!!HOUSING OCCUPANCY!!Total housing uni...,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,...,Percent Margin of Error!!GROSS RENT AS A PERCE...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...,NaN
1,0400000US21,Kentucky,1983949,362,1734618,4886,249331,4892,1.6,0.1,...,0.3,11.5,0.3,8.6,0.3,36.0,0.5,(X),(X),NaN
2,1400000US21067000101,"Census Tract 1.01, Fayette County, Kentucky",2193,83,1993,120,200,86,0.0,11.0,...,3.8,9.5,3.3,12.6,5.3,42.7,6.7,(X),(X),NaN
3,1400000US21067000102,"Census Tract 1.02, Fayette County, Kentucky",1184,68,984,108,200,91,0.0,9.9,...,5.9,20.4,9.3,12.3,7.1,29.0,11.8,(X),(X),NaN
4,1400000US21067000200,"Census Tract 2, Fayette County, Kentucky",1465,107,1225,128,240,103,0.0,9.7,...,4.1,21.7,8.9,6.7,6.1,41.1,10.6,(X),(X),NaN

In [17]:
acs_dp04[['TRACT', 'COUNTY', 'STATE']] = acs_dp04.NAME.str.split(',', expand=True)

In [18]:
acs_dp04 = acs_dp04[acs_dp04['COUNTY'] == ' Fayette County']

In [19]:
acs_dp04['CENSUS_TRACT'] = acs_dp04.apply(lambda row: row['GEO_ID'][9:], axis = 1)

In [20]:
acs_dp04.CENSUS_TRACT.head()

2    21067000101
3    21067000102
4    21067000200
5    21067000300
6    21067000400
Name: CENSUS_TRACT, dtype: object

In [21]:
rename = ['TOTAL_HHLDS', 'HHLDS_0_VEH', 'HHLDS_1_VEH', 'HHLDS_2_VEH', 'HHLDS_3P_VEH', 'CENSUS_TRACT']

In [22]:
keep = ['DP04_0057E', 'DP04_0058E', 'DP04_0059E', 'DP04_0060E', 'DP04_0061E', 'CENSUS_TRACT']

In [23]:
acs_dp04 = acs_dp04[keep]

In [24]:
acs_dp04.columns = rename

In [25]:
acs_dp04.head()

  TOTAL_HHLDS HHLDS_0_VEH HHLDS_1_VEH HHLDS_2_VEH HHLDS_3P_VEH CENSUS_TRACT
2        1993         646         950         358           39  21067000101
3         984         323         478         129           54  21067000102
4        1225         355         449         290          131  21067000200
5        1249         227         595         307          120  21067000300
6         784         215         321         186           62  21067000400

In [26]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT

acs_dp04['HHLDS_0_VEH'] = acs_dp04.HHLDS_0_VEH.astype(float)
acs_dp04['HHLDS_1_VEH'] = acs_dp04.HHLDS_1_VEH.astype(float)
acs_dp04['HHLDS_2_VEH'] = acs_dp04.HHLDS_2_VEH.astype(float)
acs_dp04['HHLDS_3P_VEH'] = acs_dp04.HHLDS_3P_VEH.astype(float)
acs_dp04['TOTAL_HHLDS'] = acs_dp04.TOTAL_HHLDS.astype(float)

In [27]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT

def set_avg_veh_per_hhlds(row):
    if row['TOTAL_HHLDS']  == 0:
        veh = 0
        
    else:
        veh = (row['HHLDS_0_VEH']*0 + row['HHLDS_1_VEH']*1 + row['HHLDS_2_VEH']*2 + row['HHLDS_3P_VEH']*3)/row['TOTAL_HHLDS']
        
    return veh

In [28]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT

acs_dp04['AVG_VEH_PER_HHLD'] = acs_dp04.apply(lambda row: set_avg_veh_per_hhlds(row), axis = 1)

In [29]:
acs_dp04.head()

,TOTAL_HHLDS,HHLDS_0_VEH,HHLDS_1_VEH,HHLDS_2_VEH,HHLDS_3P_VEH,CENSUS_TRACT,AVG_VEH_PER_HHLD
2,1993.0,646.0,950.0,358.0,39.0,21067000101,0.894631
3,984.0,323.0,478.0,129.0,54.0,21067000102,0.912602
4,1225.0,355.0,449.0,290.0,131.0,21067000200,1.160816
5,1249.0,227.0,595.0,307.0,120.0,21067000300,1.256205
6,784.0,215.0,321.0,186.0,62.0,21067000400,1.121173

In [30]:
acs_dp05 = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Raw_Inputs/ACS/DP05/DP05.csv')

In [31]:
acs_dp05.head()

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0002E,DP05_0002M,DP05_0003E,DP05_0003M,DP05_0004E,DP05_0004M,...,DP05_0085PM,DP05_0086PE,DP05_0086PM,DP05_0087PE,DP05_0087PM,DP05_0088PE,DP05_0088PM,DP05_0089PE,DP05_0089PM,Unnamed: 358
0,Geography,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Margin of Error!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Margin of Error!!SEX AND AGE!!Total population...,Estimate!!SEX AND AGE!!Total population!!Female,Margin of Error!!SEX AND AGE!!Total population...,Estimate!!SEX AND AGE!!Total population!!Sex r...,Margin of Error!!SEX AND AGE!!Total population...,...,Percent Margin of Error!!HISPANIC OR LATINO AN...,Percent!!Total housing units,Percent Margin of Error!!Total housing units,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...",NaN
1,0400000US21,Kentucky,4449052,*****,2190922,1184,2258130,1184,97.0,0.1,...,0.1,(X),(X),3349115,(X),48.5,0.1,51.5,0.1,NaN
2,1400000US21067000101,"Census Tract 1.01, Fayette County, Kentucky",3171,264,1835,252,1336,169,137.4,28.6,...,2.2,(X),(X),2883,(X),57.0,5.5,43.0,5.5,NaN
3,1400000US21067000102,"Census Tract 1.02, Fayette County, Kentucky",1546,272,838,131,708,218,118.4,38.9,...,1.8,(X),(X),1371,(X),53.6,8.7,46.4,8.7,NaN
4,1400000US21067000200,"Census Tract 2, Fayette County, Kentucky",3839,467,2059,368,1780,298,115.7,28.7,...,4.6,(X),(X),3172,(X),53.9,7.1,46.1,7.1,NaN

In [32]:
acs_dp05[['TRACT', 'COUNTY', 'STATE']] = acs_dp05.NAME.str.split(',', expand=True)

In [33]:
acs_dp05 = acs_dp05[acs_dp05['COUNTY'] == ' Fayette County']

In [34]:
acs_dp05.head()

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0002E,DP05_0002M,DP05_0003E,DP05_0003M,DP05_0004E,DP05_0004M,...,DP05_0087PE,DP05_0087PM,DP05_0088PE,DP05_0088PM,DP05_0089PE,DP05_0089PM,Unnamed: 358,TRACT,COUNTY,STATE
2,1400000US21067000101,"Census Tract 1.01, Fayette County, Kentucky",3171,264,1835,252,1336,169,137.4,28.6,...,2883,(X),57.0,5.5,43.0,5.5,NaN,Census Tract 1.01,Fayette County,Kentucky
3,1400000US21067000102,"Census Tract 1.02, Fayette County, Kentucky",1546,272,838,131,708,218,118.4,38.9,...,1371,(X),53.6,8.7,46.4,8.7,NaN,Census Tract 1.02,Fayette County,Kentucky
4,1400000US21067000200,"Census Tract 2, Fayette County, Kentucky",3839,467,2059,368,1780,298,115.7,28.7,...,3172,(X),53.9,7.1,46.1,7.1,NaN,Census Tract 2,Fayette County,Kentucky
5,1400000US21067000300,"Census Tract 3, Fayette County, Kentucky",2716,314,1262,224,1454,174,86.8,16.4,...,2047,(X),46.6,5.8,53.4,5.8,NaN,Census Tract 3,Fayette County,Kentucky
6,1400000US21067000400,"Census Tract 4, Fayette County, Kentucky",1960,185,831,117,1129,142,73.6,13.7,...,1243,(X),37.2,6.1,62.8,6.1,NaN,Census Tract 4,Fayette County,Kentucky

In [35]:
acs_dp05['CENSUS_TRACT'] = acs_dp05.apply(lambda row: row['GEO_ID'][9:], axis = 1)

In [36]:
acs_dp05.CENSUS_TRACT.head()

2    21067000101
3    21067000102
4    21067000200
5    21067000300
6    21067000400
Name: CENSUS_TRACT, dtype: object

In [37]:
rename = ['TOTAL_POP', 'TOTAL_MALE', 'TOTAL_FEMALE', 'AGE_5U', 'AGE_5_9', 'AGE+10_14', 'AGE_15_19', 'AGE_20_24', 'AGE_25_34', 'AGE_35_44', 'AGE_45_54', 'AGE_55_59', 'AGE_60_64', 'AGE_65_74', 'AGE_75_84', 'AGE_85P', 'MEDIAN_AGE', 'CENSUS_TRACT']

In [38]:
keep = ['DP05_0001E', 'DP05_0002E', 'DP05_0003E', 'DP05_0005E', 'DP05_0006E', 'DP05_0007E','DP05_0008E', 'DP05_0009E', 'DP05_0010E', 'DP05_0011E', 'DP05_0012E', 'DP05_0013E', 'DP05_0014E', 'DP05_0015E', 'DP05_0016E', 'DP05_0017E', 'DP05_0018E', 'CENSUS_TRACT']

In [39]:
acs_dp05 = acs_dp05[keep]

In [40]:
acs_dp05.columns = rename

In [41]:
acs_dp05.head()

,TOTAL_POP,TOTAL_MALE,TOTAL_FEMALE,AGE_5U,AGE_5_9,AGE+10_14,AGE_15_19,AGE_20_24,AGE_25_34,AGE_35_44,AGE_45_54,AGE_55_59,AGE_60_64,AGE_65_74,AGE_75_84,AGE_85P,MEDIAN_AGE,CENSUS_TRACT
2,3171,1835,1336,100,50,36,97,752,727,371,253,146,279,249,91,20,31.0,21067000101
3,1546,838,708,51,59,22,20,20,281,189,219,134,80,297,93,81,52.4,21067000102
4,3839,2059,1780,129,136,185,815,749,521,250,434,223,126,246,18,7,24.1,21067000200
5,2716,1262,1454,145,168,138,151,203,446,456,264,219,258,213,8,47,36.8,21067000300
6,1960,831,1129,218,164,149,126,103,316,265,199,84,111,116,105,4,32.8,21067000400

In [42]:
acs_s1101 = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Raw_Inputs/ACS/S1101/S1101.csv')

In [43]:
acs_s1101.head()

,GEO_ID,NAME,S1101_C01_001E,S1101_C01_001M,S1101_C01_002E,S1101_C01_002M,S1101_C01_003E,S1101_C01_003M,S1101_C01_004E,S1101_C01_004M,...,S1101_C05_014M,S1101_C05_015E,S1101_C05_015M,S1101_C05_016E,S1101_C05_016M,S1101_C05_017E,S1101_C05_017M,S1101_C05_018E,S1101_C05_018M,Unnamed: 182
0,Geography,Geographic Area Name,Estimate!!Total!!HOUSEHOLDS!!Total households,Margin of Error!!Total!!HOUSEHOLDS!!Total hous...,Estimate!!Total!!HOUSEHOLDS!!Average household...,Margin of Error!!Total!!HOUSEHOLDS!!Average ho...,Estimate!!Total!!FAMILIES!!Total families,Margin of Error!!Total!!FAMILIES!!Total families,Estimate!!Total!!FAMILIES!!Average family size,Margin of Error!!Total!!FAMILIES!!Average fami...,...,Margin of Error!!Nonfamily household!!Total ho...,Estimate!!Nonfamily household!!Total household...,Margin of Error!!Nonfamily household!!Total ho...,Estimate!!Nonfamily household!!Total household...,Margin of Error!!Nonfamily household!!Total ho...,Estimate!!Nonfamily household!!Total household...,Margin of Error!!Nonfamily household!!Total ho...,Estimate!!Nonfamily household!!Total household...,Margin of Error!!Nonfamily household!!Total ho...,NaN
1,0400000US21,Kentucky,1734618,4886,2.49,0.01,1135835,5114,3.05,0.01,...,0.4,32.0,0.4,10.6,0.2,53.8,0.5,46.2,0.5,NaN
2,1400000US21067000101,"Census Tract 1.01, Fayette County, Kentucky",1993,120,1.52,0.10,437,87,2.40,0.21,...,2.5,93.6,2.5,0.0,1.9,8.5,3.4,91.5,3.4,NaN
3,1400000US21067000102,"Census Tract 1.02, Fayette County, Kentucky",984,108,1.44,0.10,187,49,2.70,0.29,...,6.8,83.6,7.1,1.6,2.7,21.8,9.2,78.2,9.2,NaN
4,1400000US21067000200,"Census Tract 2, Fayette County, Kentucky",1225,128,2.37,0.30,477,95,3.33,0.49,...,10.6,59.4,10.6,0.0,3.9,15.8,7.4,84.2,7.4,NaN

In [44]:
acs_s1101[['TRACT', 'COUNTY', 'STATE']] = acs_s1101.NAME.str.split(',', expand=True)

In [45]:
acs_s1101 = acs_s1101[acs_s1101['COUNTY'] == ' Fayette County']

In [46]:
acs_s1101['CENSUS_TRACT'] = acs_s1101.apply(lambda row: row['GEO_ID'][9:], axis = 1)

In [47]:
keep = ['S1101_C01_001E', 'S1101_C01_002E', 'S1101_C01_004E', 'CENSUS_TRACT']

In [48]:
rename = ['TOTAL_HHLDS', 'AVG_HHLD_SIZE', 'AVG_FAMILY_SIZE', 'CENSUS_TRACT']

In [49]:
acs_s1101 = acs_s1101[keep]
acs_s1101.columns = rename

In [50]:
acs_s1501 = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Raw_Inputs/ACS/S1501/S1501.csv')

In [51]:
acs_s1501.head()

,GEO_ID,NAME,S1501_C01_001E,S1501_C01_001M,S1501_C01_002E,S1501_C01_002M,S1501_C01_003E,S1501_C01_003M,S1501_C01_004E,S1501_C01_004M,...,S1501_C06_060M,S1501_C06_061E,S1501_C06_061M,S1501_C06_062E,S1501_C06_062M,S1501_C06_063E,S1501_C06_063M,S1501_C06_064E,S1501_C06_064M,Unnamed: 770
0,Geography,Geographic Area Name,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...,Margin of Error!!Total!!AGE BY EDUCATIONAL ATT...,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...,Margin of Error!!Total!!AGE BY EDUCATIONAL ATT...,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...,Margin of Error!!Total!!AGE BY EDUCATIONAL ATT...,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...,Margin of Error!!Total!!AGE BY EDUCATIONAL ATT...,...,Margin of Error!!Percent Female!!MEDIAN EARNIN...,Estimate!!Percent Female!!MEDIAN EARNINGS IN T...,Margin of Error!!Percent Female!!MEDIAN EARNIN...,Estimate!!Percent Female!!MEDIAN EARNINGS IN T...,Margin of Error!!Percent Female!!MEDIAN EARNIN...,Estimate!!Percent Female!!MEDIAN EARNINGS IN T...,Margin of Error!!Percent Female!!MEDIAN EARNIN...,Estimate!!Percent Female!!MEDIAN EARNINGS IN T...,Margin of Error!!Percent Female!!MEDIAN EARNIN...,NaN
1,0400000US21,Kentucky,420653,1135,52327,1771,151057,2706,179972,2510,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
2,1400000US21067000101,"Census Tract 1.01, Fayette County, Kentucky",820,216,14,22,86,52,510,195,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
3,1400000US21067000102,"Census Tract 1.02, Fayette County, Kentucky",20,16,0,11,0,11,11,18,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
4,1400000US21067000200,"Census Tract 2, Fayette County, Kentucky",1416,310,13,20,425,157,846,282,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN

In [52]:
acs_s1501[['TRACT', 'COUNTY', 'STATE']] = acs_s1501.NAME.str.split(',', expand=True)

In [53]:
acs_s1501 = acs_s1501[acs_s1501['COUNTY'] == ' Fayette County']

In [54]:
acs_s1501['CENSUS_TRACT'] = acs_s1501.apply(lambda row: row['GEO_ID'][9:], axis = 1)

In [55]:
keep = ['S1501_C01_001E', 'S1501_C01_002E', 'S1501_C01_003E', 'S1501_C01_004E', 'S1501_C01_005E', 'S1501_C01_006E', 'S1501_C01_007E', 'S1501_C01_008E', 'S1501_C01_009E', 'S1501_C01_010E', 'S1501_C01_011E', 'S1501_C01_012E', 'S1501_C01_013E', 'S1501_C01_014E', 'S1501_C01_015E','CENSUS_TRACT']

In [56]:
rename = ['TOTAL_POP_18_24', 'TOTAL_POP_18_24_NO_HIGH_SCHOOL', 'TOTAL_POP_18_24_HIGH_SCHOOL', 'TOTAL_POP_18_24_SOME_COLLEGE', 'TOTAL_POP_18_24_SOME_BACHELORS_HIGHER', 'TOTAL_POP_25P', 'TOTAL_POP_25P_LESS_THAN_9TH', 'TOTAL_POP_25P_9TH_TO_12TH', 'TOTAL_POP_25P_HIGH_SCHOOL', 'TOTAL_POP_25P_SOME_COLLEGE', 'TOTAL_POP_25P_ASSOCIATES', 'TOTAL_POP_25P_BACHELORS', 'TOTAL_POP_25P_GRADUATE', 'TOTAL_POP_25P_HIGH_SCHOOL_HIGHER', 'TOTAL_POP_25P_BACHELORS_HIGHER','CENSUS_TRACT']

In [57]:
acs_s1501 = acs_s1501[keep]
acs_s1501.columns = rename

In [65]:
acs_s1901 = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Raw_Inputs/ACS/S1901/S1901.csv')

In [66]:
acs_s1901.head()

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M,Unnamed: 130
0,Geography,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,"Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to...","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to...",...,Margin of Error!!Nonfamily households!!Median ...,Estimate!!Nonfamily households!!Mean income (d...,Margin of Error!!Nonfamily households!!Mean in...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,NaN
1,0400000US21,Kentucky,1734618,4886,8.3,0.1,5.8,0.1,11.1,0.2,...,346,42778,512,(X),(X),(X),(X),31.8,(X),NaN
2,1400000US21067000101,"Census Tract 1.01, Fayette County, Kentucky",1993,120,21.7,6.4,10.9,5.3,17.2,4.7,...,5252,36652,6848,(X),(X),(X),(X),21.7,(X),NaN
3,1400000US21067000102,"Census Tract 1.02, Fayette County, Kentucky",984,108,22.4,6.7,16.9,6.7,8.1,4.2,...,12047,40063,7826,(X),(X),(X),(X),28.2,(X),NaN
4,1400000US21067000200,"Census Tract 2, Fayette County, Kentucky",1225,128,11.6,5.5,10.3,6.0,23.7,6.7,...,7920,40094,10920,(X),(X),(X),(X),31.3,(X),NaN

In [67]:
acs_s1901[['TRACT', 'COUNTY', 'STATE']] = acs_s1901.NAME.str.split(',', expand=True)

In [68]:
acs_s1901 = acs_s1901[acs_s1901['COUNTY'] == ' Fayette County']

In [69]:
acs_s1901['CENSUS_TRACT'] = acs_s1901.apply(lambda row: row['GEO_ID'][9:], axis = 1)

In [70]:
keep = ['S1901_C01_002E', 'S1901_C01_003E', 'S1901_C01_004E', 'S1901_C01_005E', 'S1901_C01_006E', 'S1901_C01_007E', 'S1901_C01_008E', 'S1901_C01_009E', 'S1901_C01_010E', 'S1901_C01_011E', 'S1901_C01_012E', 'S1901_C01_012E','CENSUS_TRACT']

In [71]:
rename = ['TOTAL_HHLDS_LESS_10K', 'TOTAL_HHLDS_10K_15K', 'TOTAL_HHLDS_15K_25K', 'TOTAL_HHLDS_25K_35K', 'TOTAL_HHLDS_35K_50K', 'TOTAL_HHLDS_50K_75K', 'TOTAL_HHLDS_75K_100K', 'TOTAL_HHLDS_100K_150K', 'TOTAL_HHLDS_150K_200K', 'TOTAL_HHLDS_200KP', 'HHLDS_MEDIAN_INCOME', 'HHLDS_MEAN_INCOME','CENSUS_TRACT']

In [72]:
acs_s1901 = acs_s1901[keep]
acs_s1901.columns = rename

In [73]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT

acs = acs_dp05.merge(acs_s1101, on = 'CENSUS_TRACT', suffixes = ('_DP05', '_S1101'))
acs = acs.merge(acs_s1501, on = 'CENSUS_TRACT', suffixes = ('', '_S1501'))
acs = acs.merge(acs_s1901, on = 'CENSUS_TRACT', suffixes = ('', '_S1901'))
acs = acs.merge(acs_dp04, on = 'CENSUS_TRACT', suffixes = ('', '_DP04'))

In [74]:
acs.head()

,TOTAL_POP,TOTAL_MALE,TOTAL_FEMALE,AGE_5U,AGE_5_9,AGE+10_14,AGE_15_19,AGE_20_24,AGE_25_34,AGE_35_44,...,TOTAL_HHLDS_150K_200K,TOTAL_HHLDS_200KP,HHLDS_MEDIAN_INCOME,HHLDS_MEAN_INCOME,TOTAL_HHLDS_DP04,HHLDS_0_VEH,HHLDS_1_VEH,HHLDS_2_VEH,HHLDS_3P_VEH,AVG_VEH_PER_HHLD
0,3171,1835,1336,100,50,36,97,752,727,371,...,3.6,5.0,25363,25363,1993.0,646.0,950.0,358.0,39.0,0.894631
1,1546,838,708,51,59,22,20,20,281,189,...,2.3,4.8,26477,26477,984.0,323.0,478.0,129.0,54.0,0.912602
2,3839,2059,1780,129,136,185,815,749,521,250,...,0.0,4.2,26725,26725,1225.0,355.0,449.0,290.0,131.0,1.160816
3,2716,1262,1454,145,168,138,151,203,446,456,...,0.7,1.3,32089,32089,1249.0,227.0,595.0,307.0,120.0,1.256205
4,1960,831,1129,218,164,149,126,103,316,265,...,0.0,0.4,27031,27031,784.0,215.0,321.0,186.0,62.0,1.121173

In [75]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT

variables = acs.columns.drop('CENSUS_TRACT')

In [76]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT


for var in variables:    
    acs[var] = acs[var].replace('-',np.nan)
    acs[var] = acs[var].replace('250,000+','250000')
    acs[var] = acs[var].astype(float)

In [79]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT


acs.to_csv('../Raw_Inputs/ACS/Merged_ACS/ACS.csv')

OSError: Cannot save file into a non-existent directory: '..\Raw_Inputs\ACS\Merged_ACS'